@import './tailwind.css';
@import './fonts.css';
@import './theme.css';

/* Utility to hide scrollbar while keeping functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}